<%= form_for(widget_attr) do |f| %>
  <% if widget_attr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(widget_attr.errors.count, "error") %> prohibited this widget_attr from being saved:</h2>

      <ul>
      <% widget_attr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :windget_id %>
    <%= f.text_field :windget_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.number_field :type %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
