<div id="text_widget_<%= element.id %>">
<%= form_for element, remote: true do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>